
<div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
      <div class="row">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="login-form">
                <form [formGroup]="forgotpasswordForm" (ngsubmit)="submitHandler()">
                    <h2 class="text-center secondary ms-mb-m main-heading ng-binding">Login with Acecraft </h2>
                    <div class="ms-mb-m">
                        <p>Please enter the email address you used to register. We will then send you a link to reset your password.</p>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="Email" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary ms-fs-18 ms-p-s  btn-block ng-binding" ng-click="submit();">
                            Send Reset Link
                        </button>
                    </div>
                    <div class="ms-fs-12 text-center ms-mt-x ms-mb-m forgot">
                        <p style="padding-top:30px">
                            <a href="/user/forgotten" class="secondary ng-binding" target="_blank">
                                Login ?
                            </a>
                        </p><p>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>